:host {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}



.container {
  position: relative;
  display: flex;
}

.canvas {
  background: #ecf0f1;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.menu {
  position: absolute;
  background: black;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -75px;
  padding: 10px;
  text-align: center;
}

.start {
  font-size: 20px;
  font-weight: bold;
}

.title {
  font-size: 24px;
  margin-bottom: 15px;
  color: white;
}

.message {
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
}

.hud {
  position: absolute;
  list-style: none;

  .score {
    width: 120px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
  }
}

.menu,
.hud {
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
}
