<div class="container" (window:resize)="onResize()">
  <canvas #graphCanvas class="canvas" width="1280" height="720"> </canvas>
  <ul class="hud">
    <li *ngIf="!gameOver" class="score">
      SCORE: <span >{{ score }}</span>
    </li>
  </ul>
  <div *ngIf="gameOver" class="menu">
    <h2 class="title">GAME OVER!</h2>
    <div class="message">YOUR SCORE: {{ score }}</div>
    <div class="message">HIGHEST SCORE: {{ highestScore }}</div>
    <a class="start" (click)="restart()">START AGAIN</a>
  </div>
</div>
