<div class="container">
  <canvas #graphCanvas></canvas>
  <ul class="hud">
    <li class="score">
      SCORE: <span>{{ score }}</span>
    </li>
    <li class="score">
      HIGHEST SCORE: <span>{{ highestScore }}</span>
    </li>
    <li *ngIf="ship">WEPON: {{ ship.currentWepon.name }}</li>
  </ul>
  <div class="score-menu">
    <h2 *ngIf="!isPlay && gamePlayed" class="score-title">GAME OVER!</h2>
    <div *ngIf="!isPlay && gamePlayed" class="score-message">
      YOUR SCORE {{ score }} POINTS
    </div>
    <div *ngIf="!isPlay && gamePlayed" class="score-message">
      HIGHEST SCORE {{ score }} POINTS
    </div>
    <a *ngIf="!isPlay" class="start-button" (click)="start($event)">START</a>
  </div>
</div>
