::ng-deep {
  body {
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

canvas {
  cursor: crosshair;
  position: absolute;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.score-menu {
  position: absolute;
  top: 50%;
  margin-top: -45px;
  text-align: center;
  width: 100%;
  display: block;
}

.start-button {
  font-size: 20px;
  font-weight: bold;
}

.score-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.score-message {
  font-size: 14px;
  margin-bottom: 20px;
}

.tweet {
  color: white;
  font-size: 11px;
  display: inline-block;
  margin-top: 15px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid white;

  &:hover {
    color: black;
    background-color: white;
  }
}

.hud {
  position: absolute;
  top: 10px;
  left: 10px;
  list-style: none;

  li {
    float: left;
    margin-right: 20px;
  }

  .score {
    width: 120px;
    overflow: hidden;
  }
}

.score-menu,
.hud {
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
}
