<div class="container">
  <canvas #graphCanvas></canvas>
  <ul class="hud">
    <li class="score">
      SCORE: <span>{{ score }}</span>
    </li>
    <li *ngIf="ship">
      WEPON: <span id="wepon">{{ ship.currentWepon.name }}</span>
    </li>
  </ul>
  <div class="score-menu">
    <h2 *ngIf="!isPlay && gamePlayed" class="score-title">GAME OVER!</h2>
    <div *ngIf="!isPlay && gamePlayed" class="score-message">
      YOUR SCORE {{ score }} POINTS
      <br />
      <a class="tweet" [href]="tweetLink()" target="_blank">TWEET YOUR SCORE</a>
    </div>
    <a *ngIf="!isPlay" class="start-button" (click)="start($event)">START</a>
  </div>
</div>
