<h1>Welcome to Angular Games</h1>
<p>Here are the list of games available!!!</p>

<ul>
  <li>
    <a class="game-link" (click)="arrow = true">Arrow Defence Game</a>
  </li>
  <li>
    <a class="game-link" (click)="asteroid = true">Asteroid Game</a>
  </li>
  <li>
    <a class="game-link" (click)="pinball = true">Pinball Game</a>
  </li>
  <li>
    <a class="game-link" (click)="pacman = true">Pacman Game</a>
  </li>
  <li>
    <a class="game-link" (click)="ticTac = true">Tic-Tac-Toe Game</a>
  </li>
  <li>
    <a class="game-link" (click)="highway = true">Highway Race Game</a>
  </li>
  <li>
    <a class="game-link" (click)="shootingHoops = true">Shooting Hoops Game</a>
  </li>
</ul>
<div
  *ngIf="
    ticTac || arrow || pinball || asteroid || pacman || highway || shootingHoops
  "
  class="game-container"
  [ngClass]="{ 'full-screen': fullScreen }"
>
  <app-tic-tac-toe-game *ngIf="ticTac"></app-tic-tac-toe-game>
  <app-arrow-defence-game *ngIf="arrow"></app-arrow-defence-game>
  <app-asteroid-game *ngIf="asteroid"></app-asteroid-game>
  <app-pinball-game *ngIf="pinball"></app-pinball-game>
  <app-highway-race-game *ngIf="highway"></app-highway-race-game>
  <app-pacman-game *ngIf="pacman"></app-pacman-game>
  <app-shooting-hoops-game *ngIf="shootingHoops"></app-shooting-hoops-game>
  <button
    class="btn btn-fullscreen"
    (click)="fullScreen = !fullScreen"
    [ngClass]="{ fullscreen: fullScreen }"
  >
    <img *ngIf="!fullScreen" src="assets/images/nav-fullscreen.svg" alt="" />
    <img *ngIf="fullScreen" src="assets/images/Close_Icon_white.svg" alt="" />
  </button>
  <button
    class="btn btn-close-activity"
    *ngIf="!fullScreen"
    (click)="
      arrow = false;
      pinball = false;
      pacman = false;
      asteroid = false;
      highway = false;
      ticTac = false;
      fullScreen = false
    "
  >
    <img src="assets/images/Close_Icon_white.svg" alt="" />
  </button>
</div>
